<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}">Blog</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header>
      <h1>Blog with Spring Boot</h1>
      <nav class="navbar">
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/create}">Create Post</a></li>
          <li><a th:href="@{/stats}">Stats</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 th:text="${title}">Blog</h1>
      <!-- Page-specific content goes here -->
      <div th:if="${content} != null" th:utext="${content}"></div>
    </main>
  </body>
</html>
