<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Delete Post</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header>
      <h1>Blog with Spring Boot</h1>
      <nav class="navbar">
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/create}">Create Post</a></li>
          <li><a th:href="@{/stats}">Stats</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Delete Post</h1>
      <p>Are you sure you want to delete this post?</p>
      <form th:action="@{'/delete/' + ${post.id}}" method="post">
        <button type="submit">Delete</button>
      </form>
    </main>
  </body>
</html>
