<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Blog Posts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header>
      <h1>Blog with Spring Boot</h1>
      <nav class="navbar">
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/create}">Create Post</a></li>
          <li><a th:href="@{/stats}">Stats</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Blog Posts</h1>
      <ul>
        <li th:each="post : ${posts}">
          <a th:href="@{'/post/' + ${post.id}}" class="post-card-link">
            <h2 class="post-title" th:text="${post.title}">Title</h2>
            <p class="post-meta">By <span th:text="${post.author}">Author</span> on <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}">Date</span></p>
            <div class="tags-container" th:if="${!post.tags.isEmpty()}">
              <span th:each="tag : ${post.tags}">
                <span class="tag" th:text="${tag.name}">tag</span>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </main>
  </body>
</html>
