<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Post Statistics</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header>
      <h1>Blog with Spring Boot</h1>
      <nav class="navbar">
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <li><a th:href="@{/create}">Create Post</a></li>
          <li><a th:href="@{/stats}">Stats</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Post Statistics</h1>
      <p>Average: <span th:text="${averageLength}">0</span> characters</p>
      <p>Median: <span th:text="${medianLength}">0</span> characters</p>
      <p>Maximum: <span th:text="${maxLength}">0</span> characters</p>
      <p>Minimum: <span th:text="${minLength}">0</span> characters</p>
      <br />
      <p>Total length of all posts: <span th:text="${totalLength}">0</span> characters</p>
    </main>
  </body>
</html>
